<div class="widget">
    <h3 class="widget-title"><%= __('widget.board') %></h3>
    <div class="widget-body">
        <div id="board">
            <p>
                主博客地址：<a href="https://algate.github.io" title="fork me" target="_blank">博客主页</a> <br/>
                VUE地址：<a href="https://algate.github.io/onions.vuecli3" title="" target="_blank">VUECLI3项目预览</a> <br/>
                React地址：<a href="https://algate.github.io/onions.com">React项目预览</a>
            </p>
            <hr/>
            <h5>欢迎购买我的广告位，谢谢您的支持！</h5>
            <p>
                <a href="javascript:void(0);" target="_blank">
                    <img src="/hexo.pure/images/sale.png"/>
                </a>
            </p>
        </div>
    </div>
</div>
