<% if (theme.music.wangyiyun){ %>
  <div class="widget">
    <embed border="0" border="0" marginwidth="0" marginheight="0" style="height:86px;" src="//music.163.com/outchain/player?type=2&id=403710591&auto=1&height=66"></embed>
    <!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" style="height:86px;" src="//music.163.com/outchain/player?type=2&id=403710591&auto=1&height=66"></iframe> -->
  </div>
<% } %>
