<div class="J_Poster poster-main" data-setting='{
    "width":960,
    "height":360,
    "posterWidth":640,
    "posterHeight":360,
    "verticalAlign":"middle",
    "scale":0.9,
    "autoPlay":true,
    "delay":2000,
    "speed":1000}'>
    <div class="poster-btn poster-prev-btn"></div>
    <ul class="poster-list">
        <li class="poster-item"><a href="#"><img src="../assets/src/bannerimages/banner01.jpg"></a></li>
        <li class="poster-item"><a href="#"><img src="../assets/src/bannerimages/banner02.jpg"></a></li>
        <li class="poster-item"><a href="#"><img src="../assets/src/bannerimages/banner03.jpg"></a></li>
        <li class="poster-item"><a href="#"><img src="../assets/src/bannerimages/banner04.jpg"></a></li>
        <li class="poster-item"><a href="#"><img src="../assets/src/bannerimages/banner05.jpg"></a></li>
        <li class="poster-item"><a href="#"><img src="../assets/src/bannerimages/banner06.jpg"></a></li>
        <li class="poster-item"><a href="#"><img src="../assets/src/bannerimages/banner07.jpg"></a></li>
        <li class="poster-item"><a href="#"><img src="../assets/src/bannerimages/banner08.jpg"></a></li>
        <li class="poster-item"><a href="#"><img src="../assets/src/bannerimages/banner09.jpg"></a></li>
    </ul>
    <div class="poster-btn poster-next-btn"></div>
</div>